<div class="course-component">

    <h3>COURSES OFFERED</h3>
    
    <div class="container-list">
   
        <ul class="list1">
            <li class="odd-list">CERTIFICATION IN ENGLISH COMMUNICATION AND IT</li>
            <li class="even-list">CERTIFICATEIN E-COMMERCE CONSULTANT SERVICE</li>
            <li class="odd-list">CERTIFICATION IN ENGLISHCOMMUNICATION AND DIFITAL EDUCATION WITH EXCEL SPECIALIZATION</li>
            <li class="even-list">IMPACT</li>
            <li class="odd-list">CERTIFICATION IN ACCOUNTING AND EXCEL EXPERT</li>
            
        </ul>
        <ul class="list2">
        <li class="odd-list">ADVANCED PROGRAM IN WEB DESIGNING</li>
        <li class="even-list">ADVANCED PROGRAM IN CCNA ROUTING AND SWITCHING</li>
        <li class="odd-list">ADVANDED PROGRAM IN DOT NET PROGRAMMING</li>
        <li class="even-list">ADVANDED PROGRAM IN COMPUTER INFRASTRUCTURE SERVICES</li>
        <li class="odd-list">ADVANCED PROGRAM IN COMPUTRER OOPERATION AND DIGITAL EDUCATION</li>     
        <li class="even-list">ADVANCED PROGRAM IN JAVA WEB PROGRAMING</li>
        <li class="odd-list">ADVANCED PROGRAM IN DIGITAL MARKETING</li>
        <li class="even-list">ADVANCED PROGRAM IN WEB DEVELOPMENT WITH PHP</li>
        
        
    </ul>
</div>
</div>