<div class="container-about">

    <h3>NEWS AND EVENTS</h3>
    <p>
        The activities and accomplishments of Anudip Foundation with respect to its <a href="https://www.anudip.org/news/"> Corporate Social Responsibility program</a>, and other initiatives that have found mentioned in leading news websites and publications from time to time.
    
        <br>
        
        These are a testimony to our unwavering focus on empowering the lives of the underprivileged.
    </p>

    <h3>OUR RECRUITING PARTNERS</h3>
    <div class="img-container">
        <a href="#"><img src="../../assets/fujitec.jpg" alt="Fujitec" height="150px" width="150px"></a>
        <a href="#"><img src="../../assets/fusion.png" alt="Fusion" height="150px" width="150px"></a>
        <a href="#"><img src="../../assets/genpact.png" alt="Genpact" height="150px" width="150px"></a>
        <a href="#"><img src="../../assets/ibm.jpg" alt="IBM" height="150px" width="150px"></a>
        <a href="#"><img src="../../assets/iimi.jpg" alt="IIMI" height="150px" width="150px"></a>
    </div>
</div>